
body {
  color: #520909d1;
}
.hidden {
  display: none;
}
.card {
  text-align: center;
}

li{
  list-style-type: none;
  display: inline;
}
.card__item {
  display: inline-block;
}
.link {
  position: absolute;
  bottom: 0;
  right: calc(50% - 150px);
  margin-right: 50px;
}
.noValid{
  opacity: 0.3;
}

.card__number {
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}
.card__button{
  height: 35px;
  border-radius: 5px;
  background-color: rgb(105, 244, 105);
}